<!DOCTYPE html>
<html>
  <head>
    <title>pagina de produtos</title>
    <link rel="stylesheet" href="/stylesheets/products.css" />
  </head>

  <body>
    

    <main class="container">
      <h1>Detelhes do produto</h1>

      
        <div>
          <label>ID Produto:</label> <%=product.id %> 
          <br>
         <label>Nome:</label> <%=product.nameProduct %> 
         <br>
         <label>Detalhes:</label> <%=product.descriptionProduct %>  
         <br>     
         <label>Unidade:</label> <%=product.un %> 
         <br>          
         <label>Preço do Produto:</label> <%=product.price %> 
         <br>
         <label>Status:</label> <%=product.status %> 
         <br>
         <label>Tipo do Produto:</label> <%=product.type%> 
         <br>
         <label>Categoria do produto:</label> <%=product.category%>          
         <br>
         <label>Forma de pagamento:</label> <%=product.anuncio%>     

         
         </div>
       
       </main>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1"
      crossorigin="anonymous"
    />
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW"
      crossorigin="anonymous"
    ></script>
  </body>
</html>